@model Comic
<h1>Estas seguro de Borrar: @Model.Nombre?</h1>
<p>
    <a asp-controller="Comics" asp-action="Index">
        Back to Index
    </a>
</p>

<div class="card mb-3 text-center">
    <img src="@Model.Imagen" class="card-img-top" style="width: 30%; margin: 0 auto">
    <div class="card-body">
        <p class="card-text">@Model.Descripcion</p>
        <form method="post">
            <input type="hidden" name="idcomic" value="@Model.IdComic" />
            <button class="btn btn-outline-danger" style="width: 80%">
                Borrar
            </button>
        </form>
    </div>
</div>
